:root{
--header-color:#2E2F42;
--main-text-color:#434455;
--main-background-color:#FFFFFF;
--secondary-background-color:#F4F4FD;
--hover-focus-color:#4D5AE5;
--third-background-color:#E5E5E5;

}

body{
    background-color:var(--main-background-color);
    color: var(--main-text-color);  
}
ul{
    list-style: none;

}

.all-header a{
text-decoration: none;

}
.logo{
color:var(--header-color)  
}
.logo-color{
color:var(--hover-focus-color)
}
.site-nav a{

    color: var(--header-color)    
    }



.site-nav a:hover,
.site-nav a:focus
{

    color: var(--hover-focus-color)
}
.site-nav .site-nav-current{
    color: var(--hover-focus-color);
    }
.contact a{

color:var(--main-text-color)
}

.contact a:hover,
.contact a:focus

{

    color: var(--hover-focus-color);
}


.hero{
    background-color: var(--header-color);
}
.hero-title{
    color: var(--main-background-color)
}

.hero-button{
background-color:var(--hover-focus-color);
color: var(--main-background-color);
}

.privilege{
    background-color: var(--main-background-color)
}

.privilege-title{

color: var(--header-color);
}
.privilege-text{
color: var(--main-text-color);
}

.work{
background-color: var(--main-background-color);
}

.work-title{
color: var(--header-color);

}

.employy{
background-color: var(--secondary-background-color)
 ;
}
.employy-title, .employy-header{
color: var(--header-color);
}


.employy-text{
}

.employy-block{
 background-color: var(--main-background-color);
}

.footer{

background-color: var(--header-color);
}

.footer a{

text-decoration: none;    
}

.logo-title{
    color: var(--secondary-background-color);
}
.footer-text{

color: #E7E9FC; 
}


/* Portfolio */

.main-portfolio{
background-color:var(--main-background-color)

}

.button-porfolio{
background-color: var(--secondary-background-color);
color: var(--hover-focus-color);
}

/* Я так понял не будет работать, оставлю пока так  */
.button-porfolio:hover
.button-porfolio:focus
{
background-color: var(--hover-focus-color);
color: var(--main-background-color);
    }
/* Примеры работ  */

.example-block {
background-color: var(--main-background-color);

}


.example-header{
    color: var(--header-color);
} 
.example-text{
color: var(--main-text-color);    
}